.js-field-ui-hidden {
  display: none !important;
}

.ui-dialog.field-ui-ajax-dialog {
  border: 1px solid;
  border-radius: 5px 5px 0 0;
}

#field-ui-messages {
  position: fixed;
  right: 0;
  left: 0;
  top: -500px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

#field-ui-messages > div {
  align-self: center;
  max-width: 780px;
  padding: 0 7px;
  background-color: #000;
}

.toolbar-fixed.toolbar-tray-open.toolbar-horizontal #field-ui-messages.field-ui-messages-show {
  -webkit-transform: translateY(590px);
  transform: translateY(590px);
}

.toolbar-fixed #field-ui-messages.field-ui-messages-show {
  -webkit-transform: translateY(550px);
  transform: translateY(550px);
}

#field-ui-messages.field-ui-messages-show {
  -webkit-transform: translateY(510px);
  transform: translateY(510px);
  -webkit-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

@media screen and (max-width: 37.5em) { /* 600px */
  #field-ui-messages {
    right: 5px;
  }
  #field-ui-messages.field-ui-messages-show {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
  }
  .toolbar-fixed #field-ui-messages.field-ui-messages-show {
    -webkit-transform: translateY(540px);
    transform: translateY(540px);
  }
  #field-ui-messages > div {
    max-width: 500px;
  }
}

@media screen and (max-width: 60em) { /* 920px */
  #field-ui-messages {
    right: 10px;
  }
  #field-ui-messages.field-ui-messages-show {
    -webkit-transform: translateY(505px);
    transform: translateY(505px);
  }
  .toolbar-vertical #field-ui-messages.field-ui-messages-show {
    -webkit-transform: translateY(545px);
    transform: translateY(545px);
  }
}

.field-ui-messages-hidden {
  -webkit-transition: transform 0.5s ease-in 5s;
  transition: transform 0.5s ease-in 5s;
}
